

<div class ="container">

   <div class="row vh-100 justify-content-center align-items-center">
   <div class="col-auto bg-light p-5">
    <h1 class="text-center">INTRANET</h1>
       <form action="" method="POST">
          <div class="input-group p-3">
            <input type="email" class="from-control" planceholder="email">
          </div>
          <div class="input-group p-3">
              <input type="password" class="from-control" placeholder="password">
          </div>
      
       </form>
       
          <button>INGRESAR</button>
          
      </div>
</div>
    </div>